html * {
    font-size: 15px !important;
}
::-webkit-scrollbar {
    width: 0px;
}
a {
    color: #7fbb7c;
}


body {
    color: #000000;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

#main-info {
    z-index: 1;
    background-color: #000000;
    opacity: 0.01;
    width: 30%;
    height: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 15%;
    -moz-box-shadow:0px 1px 17px 0px #98bd91;
    -webkit-box-shadow:0px 1px 17px 0px #98bd91;
    box-shadow: 0px 1px 17px 0px #98bd91;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;


}

@media screen and (max-width: 850px) {
    #main-info {
        width: 88%;
        height: 81vh;
        top: 3vh;
        position: relative;

    }
    html * {
        font-size: 17px !important;
    }
}

#sub-info {
    margin: 10px;
    color: white;
    margin: 30px;
    font-family: 'Anonymous Pro', monospace;
}

.icon-bar a {
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    color: white;
}

.twitter {
    color: white;
}

.google {
    color: white;
}

.linkedin {
    color: white;
}

.youtube {
    color: white;
}

.leetcode {
    color: white;
    background: url('/images/leetcode.png');
    background-size: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -5px;
}


@media screen and (max-width: 850px) {
    .leetcode {
        background-size: 23px;
        width: 23px;
        height: 23px;

    }


}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


p:not(:last-child) {
  margin: 0 0 20px;
}

main {
  max-width: 800px;
  padding: 40px;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 -13px 0px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f015'; }
label[for*='2']:before { content: '\f120'; }
label[for*='3']:before { content: '\f0b1'; }
label[for*='4']:before { content: '\f0ad'; }

@media screen and (max-width: 850px)  {

    label[for*='1']:before { padding: 8px; content: '\f015'; }
    label[for*='2']:before {  padding: 8px; content: '\f120'; }
    label[for*='3']:before { padding: 8px;  content: '\f0b1'; }
    label[for*='4']:before {  padding: 8px; content: '\f0ad'; }


}



label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #7fbb7c;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}
.p-icon-bar {
    position: absolute;
    text-align: center;
    width: 100%;
    left: -3%;
    top: 93%;

}

.inner-content {
    position: relative;
    height: 95%;
    overflow-y: auto;
    text-align: left !important;
}
#pseudo-sub {
    width: 100%;
    display: block;
    height: 55vh;
    position: relative;
}
#psuedo-sub2 {
    display: block;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    #pseudo-sub {
        width: 100%;
        display: block;
        height: 40vh;
        position: relative;
    }
    .inner-content {
        height: 143%;
    }
}

@media screen and (min-width: 801px) and ( max-width: 1000px) {
    .inner-content {
        height: 90%;
    }
    #main-info {
        width: 50%;
    }
}

@media screen and (min-width: 300px) and ( max-width: 400px) {
    .inner-content {
        height: 95%;
    }
}



canvas {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;
}
