body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
button, select, a, a:visited {
    color: #ffffff;
    text-decoration: none;
}
option {
    color: #ffffff;
    background-color: #000000;
}

#main-info {
	position: absolute;
    top: 0;
    width: 300px;
    height: 12px;
    padding: 50px;
    padding-bottom: 74px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: #c8c8c8;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    border: 2px solid #4e4e4e;
    text-align: center;
    vertical-align: middle;
    }
